@import "../../assets/global-styles/global-styles";

.add-task-section {
    left: 200%;

    .return {
        height: 3rem;
        width: 3rem;
        margin-bottom: 0.5rem;
        background-color: $secondary;
        border-radius: 10rem;
        color: $on-secondary;
        font-size: 1.5rem;
        position: relative;
        transition: 0.2s;

        ion-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .return:active {
        transform: scale(0.9);
    }

    .is-error {
        height: 0;
        width: fit-content;
        color: $error;
        opacity: 0;
        pointer-events: none;
    }

    .is-error.error {
        height: auto;
        display: block;
        opacity: 1;
        pointer-events: all;
    }

    h2 {
        margin: 1rem 0 0.5rem;
        font-size: 1.25rem;
    }

    form {
        display: grid;

        input {
            width: 100%;
            margin-top: 0.5rem;
            padding: 1rem;
            background-color: $primary;
            border: transparent solid 0.15rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 0.325rem rgba(0, 0, 0, 0.6);
            color: $on-primary-light;
        }

        input:focus {
            outline: $secondary solid 0.15rem;
        }

        input.error {
            border: $error solid 0.15rem;            
        }

        ul {
            padding: 1rem;
            background-color: $primary;
            border: transparent solid 0.15rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
            display: flex;
    
            li {
                width: 100%;
                padding: 0;
                display: block;
    
                button {
                    width: 100%;
                    padding: 0.5rem 0;
                    background-color: rgba(180, 180, 180, 0.2);
                    border: rgba(180, 180, 180, 0.4) solid 0.15rem;
                    border-radius: 10rem;
                    color: $on-primary-light;
                    text-align: center;
                }
            }
    
            li:nth-child(2) {
                margin: 0 1rem;
            }
    
            li:nth-child(1) {
                button.active {
                    background-color: rgba(222, 85, 106, 0.4);
                    border: $high solid 0.15rem;
                }
            }
    
            li:nth-child(2) {
                button.active {
                    background-color: rgba(255, 207, 92, 0.4);
                    border: $medium solid 0.15rem;
                }
            }
    
            li:nth-child(3) {
                button.active {
                    background-color: rgba(12, 192, 106, 0.4);
                    border: $low solid 0.15rem;
                }
            }
        }
    
        ul.error {
            border: $error solid 0.15rem;
        }        

        .submit {
            width: fit-content;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            background-color: $secondary;
            border-radius: 0.5rem;
            color: $on-secondary;
            font-size: 1.25rem;
            justify-self: end;
            transition: 0.2s;
        }

        .submit:active {
            transform: scale(0.9);
        }
    }
}