* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input, button {
  font: inherit;
  border: none;
  outline: none;
}

ol, ul {
  list-style: none;
}

body #root {
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

body #root main {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #root main .pomodoro, body #root main .task-section, body #root main .add-task-section {
  height: 100%;
  width: 100%;
  background-color: #2d2d2d;
  color: white;
  padding: 0 1rem;
  position: absolute;
  top: 0;
}

.add-task-section {
  left: 200%;
}

.add-task-section .is-error {
  height: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #de556a;
  opacity: 0;
  pointer-events: none;
}

.add-task-section .is-error.error {
  height: auto;
  display: block;
  opacity: 1;
  pointer-events: all;
}

.add-task-section .return {
  height: 3rem;
  width: 3rem;
  margin-top: 3rem;
  background-color: #6d7cff;
  border-radius: 10rem;
  color: white;
  font-size: 1.5rem;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.add-task-section .return ion-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.add-task-section .return:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.add-task-section h1, .add-task-section h2 {
  margin: 1rem 0;
}

.add-task-section form {
  display: -ms-grid;
  display: grid;
}

.add-task-section form input {
  width: 100%;
  padding: 1rem;
  background-color: #414141;
  border: transparent solid 0.15rem;
  border-radius: 0.325rem;
  color: white;
}

.add-task-section form input:focus {
  outline: #6d7cff solid 0.15rem;
}

.add-task-section form input:nth-child(3) {
  margin: 1rem 0;
}

.add-task-section form input.error {
  border: #de556a solid 0.15rem;
}

.add-task-section form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: #6d7cff;
  border-radius: 0.325rem;
  color: white;
  font-size: 1.25rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.add-task-section form button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.add-task-section ul {
  padding: 1rem;
  background-color: #414141;
  border: transparent solid 0.15rem;
  border-radius: 0.325rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-task-section ul li {
  width: 100%;
  padding: 0;
  display: block;
}

.add-task-section ul li button {
  width: 100%;
  padding: 0.5rem 0;
  background-color: rgba(180, 180, 180, 0.2);
  border: rgba(180, 180, 180, 0.4) solid 0.15rem;
  border-radius: 10rem;
  color: white;
  text-align: center;
}

.add-task-section ul li:nth-child(2) {
  margin: 0 1rem;
}

.add-task-section ul li:nth-child(1) button.active {
  background-color: rgba(222, 85, 106, 0.4);
  border: #de556a solid 0.15rem;
}

.add-task-section ul li:nth-child(2) button.active {
  background-color: rgba(255, 207, 92, 0.4);
  border: #ffcf5c solid 0.15rem;
}

.add-task-section ul li:nth-child(3) button.active {
  background-color: rgba(12, 192, 106, 0.4);
  border: #0cc06a solid 0.15rem;
}

.add-task-section ul.error {
  border: #de556a solid 0.15rem;
}
/*# sourceMappingURL=AddTaskSection.css.map */