* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input, button {
  font: inherit;
  border: none;
  outline: none;
}

ol, ul {
  list-style: none;
}

body #root {
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

body #root main {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #root main .pomodoro, body #root main .task-section, body #root main .add-task-section {
  height: 100%;
  width: 100%;
  background-color: #2d2d2d;
  color: white;
  padding: 0 1rem;
  position: absolute;
  top: 0;
}

.task-list li {
  padding: 1rem;
  background-color: #414141;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0.5rem;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-list li button {
  color: white;
}

.task-list li .checkbox {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(222, 85, 106, 0.4);
  border: #de556a solid 0.15rem;
  border-radius: 10rem;
  position: relative;
}

.task-list li .checkbox ion-icon {
  display: none;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.task-list li .content {
  display: -ms-grid;
  display: grid;
}

.task-list li .content button {
  font-size: 1.25rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-list li .content p {
  height: 0;
  color: #b4b4b4;
  cursor: text;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.task-list li .content.active button {
  white-space: normal;
}

.task-list li .content.active p {
  height: auto;
  opacity: 1;
  pointer-events: all;
  white-space: normal;
}

.task-list li .delete {
  height: 1.5rem;
  width: 1.5rem;
  color: #6d7cff;
  font-size: 1.75rem;
  position: relative;
}

.task-list li .delete ion-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.task-list li.completed .checkbox ion-icon {
  display: block;
}

.task-list li.completed .content button, .task-list li.completed .content p {
  text-decoration: line-through;
}

.task-list li.hide {
  display: none;
}

.task-list li.Medium .checkbox {
  background-color: rgba(255, 207, 92, 0.4);
  border: #ffcf5c solid 0.15rem;
}

.task-list li.Low .checkbox {
  background-color: rgba(12, 192, 106, 0.4);
  border: #0cc06a solid 0.15rem;
}
/*# sourceMappingURL=Task.css.map */